<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pyExcel.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pyExcel.WinApp.Properties.Settings>
            <setting name="PythonFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveExcelFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SetColumnType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelRowNumCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="SetRowSelection" serializeAs="String">
                <value>True</value>
            </setting>
        </pyExcel.WinApp.Properties.Settings>
    </userSettings>
</configuration>